{% load staticfiles %}

<html>

    <head>
        <link rel="stylesheet" href="{% static 'css/login_register_style.css' %}">
    </head>

    <body>

        <div>
            <form method = "post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type = "submit">Add Event</button>
              <a href="../../{{userid}}">Finish</button>
            </form>
        </div>
        <div>
            {{event.count}}
            {% for evet in event %}
            <h1>Event:</h1>
                {{evet}}
            {% endfor %}
        </div>

    </body>

</html>
