{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>

        <!-- Mobile First -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Borrowed CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Concert+One|Days+One|Handlee" rel="stylesheet">
        <!-- Local CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">

        <title>PLANNIT!</title>

    </head>

    <body>

    <!-- GLOBAL -->




    <!-- first rowL -->






    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h2 id="title">PLANNIT!</h2></div>

        <div class="col-sm-2"></div>
      </div>



      <!-- row 1-->


      <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <div class="row">
              <div  class="col-sm-12">
                <div class="btn-group btn-group-justified">
                <a href="../../index" id="nonclicked" class="btn btn-primary">Global</a>
                <a href="#" id="clicked" class="btn btn-primary">Profile</a>


            </div>
            </div>
            </div>

          <div class="col-sm-2"></div>
        </div>
      </div>



      <!-- row 1-->

    <!-- bodystructure -->
    <div class="row" >
    <div class="col-sm-2"></div>


    <div id="mainbody" class="col-sm-8">

    <!-- bodystructure -->


    <!-- User Profile -->
    <div class="row"><div style="height:0.5% ; padding: 0.5%;" class="col-sm-12"></div></div>
    <div class="row" style="padding: 1% ;">

      <div class="col-sm-4">  <img id="profilepicture" src="{% static '/img/retard.jpg'%}"></div>

      <div class="col-sm-6; text-align: justify"> <p id="bh"> FEEDER </p><br>

      <p> This guy just always dies then proceeds to act suprised like he wasnt expecting to be the dissapoointment that he is to everyone around him </p></div>




    </div>



    <!--User Profile -->

      <!-- two buttons -->
      <div class="row"><div style class="col-sm-12">
    <div   class="row"> <button type="Edit Profile" class="btn btn-default btn-block">Edit Profile</button>  </div>



                <div class="row"><div style="height:0.5% ; padding: 0.5%;" class="col-sm-12"></div></div>


    <div   class="row"> <a href = "../newschedule"><button type="Add Schedule" class="btn btn-default btn-block">Add Schedule</button></a>  </div>

    <div class="row"><div style="height:0.5% ; padding: 1%;" class="col-sm-12"></div></div></div>
    </div>
      <!-- two buttons -->


    <div  class="row" id="bh"  p>My recent plans </p> </div>



<!-- schedule -->

          <div id="schedule" class="col-sm-12">
            <div class="row">




                <div id="h" class="col-sm-8">Steven's Day in Berkeley</div>
                <div  class="col-sm-1">4 <img id="si" src={% static '/img/heart.png'%}></div>
                <div class="col-sm-2"> <img id="si" src={% static '/img/dollaru.png'%}><img id="si" src={% static '/img/dollaru.png'%}>

                    <img id="si" src={% static '/img/dollaru.png'%}></div>
                <div  class="col-sm-1"> <img id="si" src={% static '/img/trash.png'%}></div>
                </div>

            <div class="row">



                <div  class="col-sm-8">
                  <p>
                      Steven's plan for a fun day in Berkeley.
                  </p>
                  <p>
                      What happens next may shock you.
                  </p>
                </div>
                <div class="col-sm-2">
                  <img  id="picture" src={% static '/img/china.png'%}>

                </div>

                <div  class="col-sm-2">
                  <img  id="picture" src={% static '/img/china.png'%}>

                </div>
              </div>

              </div>
            <div class="row"><div style="height:0.5% ; padding: 1%;" class="col-sm-4"></div>
            </div>


<!-- schedule block end-->


          <div id="schedule" class="col-sm-12">
            <div class="row">




            <div id="h" class="col-sm-8">Steven's Day in Berkeley</div>
            <div  class="col-sm-1">4 <img id="si" src={% static '/img/heart.png'%}></div>
            <div class="col-sm-2"> <img id="si" src={% static '/img/dollaru.png'%}><img id="si" src={% static '/img/dollaru.png'%}>

                <img id="si" src={% static '/img/dollaru.png'%}></div>
            <div  class="col-sm-1"> <img id="si" src={% static '/img/trash.png'%}></div>
          </div>


        <div class="row">



            <div  class="col-sm-8">
              <p>
                  Steven's plan for a fun day in Berkeley.
              </p>
              <p>
                  What happens next may shock you.
              </p>
            </div>
            <div class="col-sm-2">
              <img  id="picture" src={% static '/img/china.jpg'%}>

            </div>

            <div  class="col-sm-2">
              <img  id="picture" src={% static '/img/china.jpg'%}>
            </div>
          </div>

            </div>



        <div class="row"><div style="height:0.5% ; padding: 1%;" class="col-sm-4"></div>
        </div>














<!-- bodystructures -->

          <footer>
                <div>
                    Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
                    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
                    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
                    CC 3.0 BY</a>

                  </div>
            </footer>




        <div class="col-sm-2"></div>
        </div>
        </div>
<!-- bodystructures -->



    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </body>
</html>
