{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>

        <!-- Mobile First -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Borrowed CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Concert+One|Days+One|Handlee" rel="stylesheet">
        <!-- Local CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{% static "js/profilejs.js" %}"></script>
        <title>PLANNIT!</title>
    </head>

    <body>

    <!-- GLOBAL -->
    <!-- first rowL -->

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h2 id="title">PLANNIT!</h2></div>

        <div class="col-sm-2"></div>
      </div>



      <!-- row 1-->


      <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <div class="row">
                <div class="btn-group btn-group-justified">
                <a href="../../index" id="nonclicked" class="btn btn-primary">Global</a>
                <a href="#" id="clicked" class="btn btn-primary">Profile</a>
                </div>
            </div>

          <div class="col-sm-2"></div>
        </div>
      </div>



      <!-- row 1-->

    <!-- bodystructure -->
    <div class="row" >
    <div class="col-sm-2"></div>


    <div id="mainbody" class="col-sm-8">

    <!-- bodystructure -->


    <!-- User Profile -->
    <div class="row"><div style="height:0.5% ; padding: 0.5%;" class="col-sm-12"></div></div>
    <div class="row" style="padding: 1% ;">

      <div class="col-sm-4">  <img id="profilepicture" src="{% static '/img/retard.jpg'%}"></div>

      <div class="col-sm-6; text-align: justify"> <p id="bh"> {{user.first_name}} {{user.last_name}}</p><br>

      <p> {{user.bio}} </p>
    </div>
    </div>



    <!--User Profile -->

      <!-- two buttons -->
      <div class="row"><div style class="col-sm-12">
    <div class="row"> <a href = '../editprofile' style = 'text-decoration: none'><button type="Edit Profile" class="btn btn-default btn-block">Edit Profile</button></a></div>



                <div class="row"><div style="height:0.5% ; padding: 0.5%;" class="col-sm-12"></div></div>


    <div   class="row"> <a href = "../newschedule" style = 'text-decoration: none'><button type="Add Schedule" class="btn btn-default btn-block">Add Schedule</button></a>  </div>

    <div class="row"><div style="height:0.5% ; padding: 1%;" class="col-sm-12"></div></div></div>
    </div>
      <!-- two buttons -->


    <div  class="row" id="bh"  p>My recent plans </p> </div>



<!-- schedule -->

{% for schedule in user_schedules reversed%}
<div class="row"><div style="height:0.5% ; padding: 0.5%;" class="col-sm-12"></div></div>
<div class="row" style="padding: 1% ;">

  <div class="col-sm-4"></div>
</div>



     <div class="row">
         <p id="bh"> {{ schedule.title }} | {{schedule.date}} </p>
      </div>
      <div class="row">
        <div  class="col-sm-12">


</div></div>
<!-- event -->



{%for even in schedule.events_set.all%}
<div class="row"><div style="height:0.5% ; padding: 0.5%;" class="col-sm-12"></div></div>
<div class="row" id="schedule">
  <div id="h" class="col-sm-4">{{even.start}}-{{even.end}}</div>
  <div id="h" style=" text-align: center;"class="col-sm-8">{{even.title}}</div>
</div>
<div class="row" id = "schedule" style="height:0.5% ; padding-top: 1%; padding-left:3%">
<p> {{even.description}}</p>
<br>
<br>
</div>
{% endfor %}
<div class = "row">
<div class="col-sm-2" style = "margin-top: 2%;">
  <strong id = {{schedule.id}}> {{schedule.likes}} </strong>
</div>
<div class = "col-sm-10" style = "margin-top: 2%">
  <input style = "width : 4%; height: 4%" type = "image" id = {{schedule.id}} class = "likes"
  data-scheduleid = "{{schedule.id}}" data-user = "{{curruser.person.id}}"
  src = "{% static 'img/notliked2.png' %}"/>
</div>
</div>
{% endfor %}
</div>
</div>
<!-- schedule block end-->


<!-- bodystructures -->



    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </body>
</html>
