{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>

        <!-- Mobile First -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Borrowed CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Concert+One|Days+One|Handlee" rel="stylesheet">
        <!-- Local CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">

        <title>PLANNIT!</title>

    </head>

    <body>

    <!-- GLOBAL -->


    <!-- first rowL -->
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h2 id="title">PLANNIT!</h2></div>

        <div class="col-sm-2"></div>
      </div>



      <!-- row 1-->


      <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <div class="row">
              <div  class="col-sm-12">
                <div class="btn-group btn-group-justified">
                <a href="index.html" id="nonclicked" class="btn btn-primary">Global</a>
                <a href="#" id="nonclicked" class="btn btn-primary">Profile</a>


            </div>
            </div>
            </div>

          <div class="col-sm-2"></div>
        </div>
      </div>



      <!-- row 1-->

    <!-- bodystructure -->
    <div class="row" >
    <div class="col-sm-2"></div>


    <div id="mainbody" class="col-sm-8">
    <!-- bodystructure -->


<!-- profile head -->
    <div class="row"><div style="height:0.5% ; padding: 0.5%;" class="col-sm-12"></div></div>
    <div class="row" style="padding: 1% ;">

      <div class="col-sm-4">

           <img id="profilepicture" src="china.jpg"></div>




      <div class="col-sm-8"; text-align: "justify">
         <div class="row">
           <div class="col-sm-8"; text-align: "justify">
             <p id="bh"> Dinner at China Town! </p></div>


             <div  class="col-sm-2">4 <img id="si" src="heart.png"></div>
             <div class="col-sm-2"> <img id="si" src="dollaru.png"><img id="si" src="dollaru.png">
                 <img id="si" src="dollaru.png"></div>
             </div>
          <div class="row">
            <div  class="col-sm-12">


      <p> first time traveling alone! so fun!  </p></div>




    </div></div></div>
<!-- event -->

<div class="row"><div style="height:0.5% ; padding: 0.5%;" class="col-sm-12"></div></div>
<div id="schedule" class="col-sm-12">
  <div class="row">




      <div id="h" class="col-sm-2">9am-10am</div>

      <div id="h" style=" text-align: center;"class="col-sm-8">Traveled to SF</div>
    </div>
  <div class="row" style="height:0.5% ; padding-top: 1%;">

    <div class="col-sm-8"><p> I took the 51b to downtown Berkeley, then went to the Bart station and got off at Powel Station, train usually arrives every 10 minuites</p></div>
    <div class="col-sm-2">
      <img  id="picture" src="china.jpg">

    </div>

    <div  class="col-sm-2">
      <img  id="picture" src="china.jpg">

    </div>

    </div>
    </div>

<!-- event -->


<!-- event -->

<div class="row"><div style="height:0.5% ; padding: 0.5%;" class="col-sm-12"></div></div>
<div id="schedule" class="col-sm-12">
  <div class="row">




      <div id="h" class="col-sm-2">10am-12am</div>

      <div id="h" style=" text-align: center;"class="col-sm-8">Go to Union Square</div>
    </div>
  <div class="row" style="height:0.5% ; padding-top: 1%;">

    <div class="col-sm-8"><p> I took the 51b to downtown Berkeley, then went to the Bart station and got off at Powel Station, train usually arrives every 10 minuites</p></div>
    <div class="col-sm-2">
      <img  id="picture" src=".jpg">

    </div>

    <div  class="col-sm-2">
      <img  id="picture" src=".jpg">

    </div>

    </div>
    </div>

<!-- event -->

<!-- event -->

<div class="row"><div style="height:0.5% ; padding: 0.5%;" class="col-sm-12"></div></div>
<div id="schedule" class="col-sm-12">
  <div class="row">




      <div id="h" class="col-sm-2">9am-10am</div>

      <div id="h" style=" text-align: center;"class="col-sm-8">When DOes the COding every STOP!??</div>
    </div>
  <div class="row" style="height:0.5% ; padding-top: 1%;">

    <div class="col-sm-8"><p> I took the 51b to downtown Berkeley, then went to the Bart station and got off at Powel Station, train usually arrives every 10 minuites</p></div>
    <div class="col-sm-2">
      <img  id="picture" src="china.jpg">

    </div>

    <div  class="col-sm-2">
      <img  id="picture" src="china.jpg">

    </div>

    </div>
    </div>

<!-- event -->





<!-- bodystructures -->

          <footer>
                <div>
                    Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
                    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
                    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
                    CC 3.0 BY</a></div>
            </footer>
        </div>
        <div class="col-sm-2"></div>
        </div>
<!-- bodystructures -->



    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </body>
</html>
